<div class="flex h-screen overflow-y-hidden bg-white" x-data="setup()" x-init="$refs.loading.classList.add('hidden')">
    <div x-ref="loading" class="fixed inset-0 z-50 flex items-center justify-center text-white bg-black bg-opacity-50" style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)">
      Loading.....
    </div>
    <%= render 'business/sidebar'%>
    <div class="flex flex-col flex-1 h-full overflow-hidden">
      <!-- Navbar -->
      <%= render 'business/header'%>
      <div>
        <div class="flex  justify-center items-center">
          <div class="mt-5 md:mt-0 md:col-span-2">
            <%= form_with(model: car) do |form| %>
            <% if car.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(car.errors.count, "error") %>
                  prohibited this car from being saved:</h2>

                <ul>
                  <% car.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="shadow sm:rounded-md sm:overflow-hidden">
              <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                <div class="car-information flex w-full ">
                  <div class="col-span-6">
                    <%= form.label "Years" %>
                    <%= form.select :caryears, options_for_select([true, false]),class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-5/5 shadow-sm sm:text-sm border-gray-300 rounded-md mr-5" %>
                  </div>
                  <div class="col-span-6">
                    <%= form.label "Maker" %>
                    <%= form.select :carmakes, options_for_select([true, false]),class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-5/5 shadow-sm sm:text-sm border-gray-300 rounded-md mr-5" %>
                  </div>
                  <div class="col-span-6">
                    <%= form.label "Model" %>
                    <%= form.select :carmodels, options_for_select([true, false]),class:"mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-5/5 shadow-sm sm:text-sm border-gray-300 rounded-md " %>
                  </div>
                </div>
                <div class="car-information flex w-full ">
                  <%= form.file_field :image %>
                  <%= form.hidden_field :image_cache %>
                  <%= form.hidden_field :user_id, value: @user %>
                    <%= form.hidden_field :stripe_product_id %>
                  <div class="col-span-6">
                    <%= form.label "Price" %>
                    <%= form.text_field :price ,class:"mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-5/5 shadow-sm sm:text-sm border-gray-300 rounded-md " %>
                  </div>
                </div>
              </div>
              <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button
                  type="submit"
                  class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Save
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer="defer"></script>
  <script type="text/javascript" src="http://www.carqueryapi.com/js/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.carqueryapi.com/js/carquery.0.3.4.js"></script>
  <script>
    const setup = () => {
      return {
        loading: true,
        isSidebarOpen: false,
        toggleSidbarMenu() {
          this.isSidebarOpen = !this.isSidebarOpen
        },
        isSettingsPanelOpen: false,
        isSearchBoxOpen: false
      }
    }
  </script>
</div>
