<div>

  <div class="flex h-screen overflow-y-hidden bg-white" x-data="setup()" x-init="$refs.loading.classList.add('hidden')">
    <div x-ref="loading" class="fixed inset-0 z-50 flex items-center justify-center text-white bg-black bg-opacity-50" style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)">
      Loading.....
    </div>

    <div class="flex flex-col flex-1 h-full ">
      <!-- Navbar -->
      <!-- Main content -->
      <main class="flex-1 max-h-full p-5  overflow-y-scroll">
        <!-- Main content header -->
        <div class="header flex flex-col items-start justify-between pb-6 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row">
          <h1 class=" font text-2xl font-semibold whitespace-nowrap"><%= current_user.full_name %>'s profile</h1>
        </div>
        <!-- Start Content -->
        <div class=" grid grid-cols-1 gap-5 mt-6 sm:grid-cols-2 lg:grid-cols-4 w-4/4">
          <div class="card-column p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
            <div class="flex items-start justify-between">
              <div class="flex flex-col space-y-2">
                <span class="text-gray-400">Total Payments</span>
              </div>
            </div>
            <div>
              <span><%=  @ordePrices %>$</span>
            </div>
          </div>
          <div class="card-column p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
            <div class="flex items-start justify-between">
              <div class="flex flex-col space-y-2">
                <span class="text-gray-400">Total Orders</span>
              </div>
            </div>
            <div>
              <span><%=  @numberOfOrde %></span>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-4">
          <% @payment.each do |f| %>
          <div class="receipt mt-10 ">
            <!-- Order info -->
            <div class="order">
              <p>
                Date : <%= f.created_at  %>
              </p>

            </div>
            <hr>
            <!-- Details -->
            <div class="details">
              <h3>
                Details
              </h3>
              <div class="product">
                  <h4>
                    <%= f.car.carmakes  %>
                  </h4>
                  <p class="mt-1">
                    modle: <%= f.car.carmodels  %>
                  </p>
                  <p class="mt-1">
                      From:
                    <span>
                      <%= f.dateFrom  %>
                    </span>
                  </p>
                  <p class="mt-1">
                      To:
                    <span>
                      <%= f.dateTo  %>
                    </span>
                  </p>
                  <p class="mt-1">
                    Number of days: <%= f.number  %>
                  </p>
                  <p>

                  </p>
              </div>
            </div>
            <!-- Sub and total price -->
            <div class="totalprice">
              <p class="sub">
                  Price per day:
                <span>
                  <%= f.price  %>$
                </span>
              </p>

              <p class="del mt-2">
              Number of days:
                <span>
                  <%= f.number  %>
                </span>
              </p>
              <hr>
              <p class="tot mt-2">
                Total
                <span>
                  <% @total= (f.number).to_i * (f.price).to_i %>
                  <%= if @total < 1
                      (f.price).to_i
                    else
                    @total
                  end %>
                </span>
              </p>
            </div>
          </div>
          <% end %>
        </div>
      </main>
      <!-- Main footer -->
      <footer class="flex items-center justify-between flex-shrink-0 p-4 border-t max-h-14" style="margin-top:0">
        <div>K-WD &copy; 2021</div>
        <div class="text-sm">
          Made by batis
        </div>
      </footer>
    </div>
    <!-- Setting panel button -->
    <div>
      <button @click="isSettingsPanelOpen = true" class="fixed right-0 px-4 py-2 text-sm font-medium text-white uppercase transform rotate-90 translate-x-8 bg-gray-600 top-1/2 rounded-b-md">
        Settings
      </button>
    </div>
    <!-- Settings panel -->
    <div
      x-show="isSettingsPanelOpen"
      @click.away="isSettingsPanelOpen = false"
      x-transition:enter="transition transform duration-300"
      x-transition:enter-start="translate-x-full opacity-30  ease-in"
      x-transition:enter-end="translate-x-0 opacity-100 ease-out"
      x-transition:leave="transition transform duration-300"
      x-transition:leave-start="translate-x-0 opacity-100 ease-out"
      x-transition:leave-end="translate-x-full opacity-0 ease-in"
      class="fixed inset-y-0 right-0 flex flex-col bg-white shadow-lg bg-opacity-20 w-80"
      style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)">
      <div class="flex items-center justify-between flex-shrink-0 p-2">
        <h6 class="p-2 text-lg">Settings</h6>
        <button @click="isSettingsPanelOpen = false" class="p-2 rounded-md focus:outline-none focus:ring">
          <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
      <div class="flex-1 max-h-full p-4 overflow-hidden hover:overflow-y-scroll">
        <span>Settings Content</span>
        <!-- Settings Panel Content ... -->
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer="defer"></script>
  <script>
    const setup = () => {
      return {
        loading: true,
        isSidebarOpen: false,
        toggleSidbarMenu() {
          this.isSidebarOpen = !this.isSidebarOpen
        },
        isSettingsPanelOpen: false,
        isSearchBoxOpen: false
      }
    }
  </script>
</div>
